[submodule "themes/abridge"]
	path = themes/abridge
	url = https://github.com/Jieiku/abridge
[submodule "corbenshiro.github.io"]
	path = corbenshiro.github.io
	url = git@github.com:corbenshiro/corbenshiro.github.io
